.main--container{
    display: flex;
}
#conteiner--left{
    width: 33%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#f7607cb9, #f3123c);
}
#conteiner--left .next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    left: 30.5%;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    position: absolute; 
    border-radius: 2rem;
    background: linear-gradient(#f3123c, #f7607c);
}

.conteiner--left h1{
    color: #fff;
}

#container--right{
    width: 67%;
    height: 100vh;
    background: #f8f8f8;
}

  







