.container--purchase{
    display: flex;
    justify-content: center;
    margin: 0;
}
.container--purchase img{
    width: 33%;
    margin: .5rem .2rem ;
}

.informations--purchase{
    width: 100vw;
    top: 55%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}
.informations--purchase .container--text--car{
    width: 60%;
}
.informations--purchase .container--text--car, .container--actions--car{
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 15px 25px #00000099;;
} 
.informations--purchase .text--car{
    margin: 1rem;
}
.text--car h1 span{
    color: #f3123c;
}
.text--car h1{
    margin: .5rem 0;
    color: #000;
    font-size: 3rem;
}
.text--car p{
    color: #5e5e5e;
    text-align: justify;
}
.informations--purchase .container--actions--car{
    width: 30%;
}
.informations--purchase .price{
    margin: 1rem;
    color: #000000ea;
    font-weight: bold;
    font-size: 2rem;
}
.buttons--purshase{
    display: flex;
    justify-content: space-between;
}
.buttons--purshase button{
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 1rem;
    background: transparent;
}
.buttons--purshase .button--purshase{   
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    padding: .8rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #f3123c;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: 1s;
}

.buttons--purshase .button--purshase:hover {
    border-radius: 1rem;
    box-shadow: 0 0 5px #f3123c,
                0 0 20px #f3123bd3;
}